* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: rgb(0, 0, 0);
    font-size: 24px;
}
header {
    background: rgb(51, 49, 49);
}
main {
    text-align: center;
    background: rgb(255, 255, 255);
}
footer {
    background: rgb(51, 49, 49);
}
footer p {
    color: #ffffff;
    margin-top: 20px;
}
.left-sidebar {
    background: rgb(237, 238, 240);
}
.right-sidebar {
    background: rgb(237, 238, 240);
}

.container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header, footer {
        width: 100%;
        height: 90px;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    main {
        text-align: center;
        flex: 5;
        order: 2;
        min-height: 82vh;
        line-height: 3;
    }
    .left-sidebar {
        order: 1;
        flex: 1;
        min-width: 10%;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
        min-width: 10%;
    }
    footer {
        order: 4;
    }

    
}

textarea {
    width:30%;
    margin-top: 15px;
    resize: none;
    padding:12px;
    border-radius:15px;
    border:0;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    height: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    vertical-align: top;
    line-height: 19.5px;
}

img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.imag {
    width: 30%;
}

.biggerimag {
    width: 50%;
}

.logo {
    margin-top: 10px;
    margin-left: 50px;
    height: 100%;
}

.logoimg {
    height: 80%;
}

nav {
    text-align: right;
    height: 100%;
    width: 50%;
    margin-right: 50px;
}

a {
    line-height: 2;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.15s ease-in-out;
}

.navigation a {
    border-radius: 10px;
    color: #242424;
    background: #ffffff;
    border-bottom: 2px solid #d1d1d1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 }
 .navigation a:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 0px solid #a7a7a7;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); */
 }

p {
    font-size: 16px;
    line-height: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;
}

h1 {
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bott {
    margin-bottom: 40px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input[type="submit"] {
    appearance:none;
    -webkit-appearance:none;

    line-height: 2;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 0px 20px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.15s ease-in-out;

    border-radius: 10px;
    color: #242424;
    background: #ffffff;
    border: 2px solid #d1d1d1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

form input[type="reset"] {
    appearance:none;
    -webkit-appearance:none;

    line-height: 2;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 0px 20px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.15s ease-in-out;

    border-radius: 10px;
    color: #242424;
    background: #ffffff;
    border: 2px solid #d1d1d1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    
    
    
    padding: 6px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.textcols {
	column-width: 40px;
	column-count: 2;
	column-gap: 7px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
	background: #ffffff;
}